<html>
  <body>
    <main class="main">
      <header>
        <app-menu-main></app-menu-main>
      </header>
      <div class="content-all">
        <app-hero-ingles></app-hero-ingles>
      </div>
      <div class="tabs-content">
        <div class="gray-content bg-light">
          <h2 class="titleAzul p-4 text-center">Con nuestro programa de inglés podrás:</h2> 
        </div>
        <app-tabs-bootstrap></app-tabs-bootstrap>
      </div>
      <div class="equivalencia">
        <app-marco-comun></app-marco-comun>
      </div>
      <app-nivel-ingles></app-nivel-ingles>
      <app-api-form></app-api-form>
      <app-logos-div></app-logos-div>
    </main>
  </body>
</html>