<div class="contenedor-formulario">
  <div class="headerForm">
    <div class="headerFormtop">
      <div class="row h-100 m-0">
        <div class="col-6 p-0"></div>
        <div class="col-6 p-0 azulContent"></div>
      </div>
    </div>
    <div class="container containerForm">
      <div class="row top">
        <div class="col-6">
          <div class="contentHeaderleft">
            <h2>Da el primer paso! <br> Estudia con nosotros</h2>
          </div>
        </div>
        <div class="col-6">
          <div class="contentHeaderright">
            <p>Si tiene problemas, puedes comunicarte con nosotros a través del PBX (+57) (2) 481 0110 o desarrollo@existaya.com</p>
          </div>
        </div>
      </div>
      <div class="row">
        <form class="pr-5 pl-5">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="">Nombre Completo <span>*</span></label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group">
                <label for="">Número de contacto <span>*</span>  </label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group">
                  <label for="">Correo electrónico <span>*</span>  </label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group">
                <label for="">Fecha de nacimiento <span>*</span>  </label>
                <input class="form-control" type="date">
              </div>
            </div>
            <div class="col-6"> 
                <div class="form-group">
                    <label for="">Departamento <span>*</span>  </label>
                    <select class="form-control" name="" id="" (change)="changeDepartamento($event.target.value)">
                        <option value="">Selecciona un departamento</option>
                        <option *ngFor="let departamento of departamentos" value="{{ departamento.id }}">{{ departamento.departamento }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Ciudad <span>*</span>  </label>
                    <select class="form-control" name="" id="">              
                        <ng-container *ngFor="let ciudad of ciudadess">
                          <option  value="{{ ciudad }}">{{ ciudad }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-center pt-5 pb-4">
              <button class="btnInput"> <i class="fas fa-pen"></i> Registrarme</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
